<!DOCTYPE html>
{% load static %}
<html lang="en">
    <style>

    </style>
<head>
    <title>COVID-19 Information Collection</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<h2><center>COVID-19 Information Collection</center></h2>
    <form class = "col-md-4 col-md-offset-4 container" action = "publishhandler" method = "POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="S_ID">Student ID</label>
            <input type="text" class="form-control" name="S_ID" id="S_ID" placeholder="Enter Student ID">
          </div>
        <div class="form-group">
            <label for="S_NAME">Student Name</label>
            <input type="text" class="form-control" name="S_NAME" id="S_NAME" placeholder="Enter Student Name">
          </div>
        <div class="form-group">
          <label for="S_EMAIL">Email address</label>
          <input type="email" class="form-control" name="S_EMAIL" id="S_EMAIL" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="S_LOCATION">Current Location</label>
            <input type="text" class="form-control" name="S_LOCATION" id="S_LOCATION" placeholder="Enter your location">
          </div>
          <div class="form-group dropdown-menu"></div>
          <label for="S_From_country">Where you from :</label>
          <select name="S_From_country" id="S_From_country">
            <option value="Hong Kong">Local (Hong Kong)</option>
            <option value="China">Mainland China</option>
            <option value="Europa">Europa</option>
            <option value="America">America</option>
            <option value="Others">Others region</option>
          </select>
          <br><br>
        </div>
          <div class="form-group">
            <label for="S_Body_temp">Body Tempreture</label>
            <input type="text" class="form-control" name="S_Body_temp" id="S_Body_temp" placeholder="Enter your body tempreture">
          </div>
          <div class="form-group">
            <label for="S_Health_status">Health Status</label>
            <input type="text" class="form-control" name="S_Health_status" id="S_Health_status" placeholder="How do you feel?">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>